<div class="basicGalleryPage">
    <div class="bs-header">
        <div class="row">
            <div class="col-md-1">
                <a href="./" class="btn btn-transparent">
                    <i class="material-icons icons">home</i>
                </a>
            </div>
            <div class="col-md-10">
                <h2>{{selectedImg.titleSi}}</h2>
                ({{selectedImg.year}})
            </div>
            <div class="col-md-1">
                {{language}}
                <div class="btn btn-transparent">
                    <i class="material-icons icons">language</i>
                </div>
            </div>
        </div>
    </div>
    <div class="row topPadding" id="topPadding"></div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8 col-xs-12">

            <div class="col-md-12 imgContainer" id="imgContainer">
                <i class="material-icons chevron" id="prevImgBtn">chevron_left</i>
                <img id="image"
                     src="./images/small/{{selectedImg.fileName}}.{{selectedImg.fileExt}}"
                     height="auto"
                     width="100%"
                />
                <i class="material-icons chevron" id="nextImgBtn" >chevron_right</i>
            </div>

          <!-- <div class="col-md-12 galleryBasicImgDescription">

            </div>-->
        </div>
        <div class="col-md-1 col-sm-4">
            <div class="btn-group-sm">
                <div class="btn btn-gray" id="toggleZoom">
                    <i class="material-icons icons">pageview</i>
                </div>
                <div class="btn btn-gray" id="fullscreenToggleBtn">
                    <i class="material-icons icons">fullscreen</i>
                </div>
            </div>

        </div>
    </div>
    <div class="bs-footer">
        <div class="row">
            <div class="col-md-12">
                <div style="padding:15px 0">
                    <i>{{selectedImg.sizeSi}}</i><br/>
                    {{selectedImg.techniqueSi}}

                </div>
                <div style="padding: 10px 0">
                    {{selectedImg.descriptionSi}}
                </div>

            </div>

            <div class="interviewLink">
                <a href="./#interview">#Intervju</a>
            </div>
        </div>
    </div>
</div>