<div class="interviewPage">

    <div class="bs-header">

        <img src="images/expand.png" id="back">

        <div class="container">
            <h2>Nova zgradba FRI z umetniškim pridihom</h2>
        </div>
    </div>


    <div class="col-md-12 col-sm-12" style="padding: 0">
        <div class="col-md-6 col-sm-6">
            <div class="col-md-6 col-sm-6 bback">
                <nav class="col-md-6 col-sm-6 bs-docs-sidebar">
                    <div class="col-md-6">
                        <ul id="sidebar" class="nav fixed indexContainer">
                            {{#each data.parts}}
                                <li class="qstion"><a href="#{{@key}}">{{this.title}}</a></li>
                            {{/each}}
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 wback">
            <div class="col-md-10 col-md-offset-1 col-xs-10 col-xs-offset-1 interviewContent">
                <br>
                {{#each data.parts}}
                    <section  id="{{@key}}">
                        <h5>{{this.title}}</h5>
                        <br/>
                        <p>{{{this.content}}}</p>
                    </section>
                {{/each}}
            </div>
        </div>
    </div>


</div>
