<div class="interviewPage">
    <div class="row" style="height:10vh">

    </div>
    <div class="row">
        <div class="col-md-3 col-md-offset-1 indexContainer">
            <ul>
                {{#each data.parts}}
                    <li><a href="#{{@key}}">{{this.title}}</a></li>
                {{/each}}
            </ul>
        </div>
        <div class="col-md-7 col-md-offset-4">
            <h2>Nova zgradba FRI z umetniškim pridihom</h2>
            <br/>
            <br/>
            {{#each data.parts}}
                <h5 id="{{@key}}">{{this.title}}</h5>
                <br/>
                <p>{{this.content}}</p>
            {{/each}}

        </div>
    </div>
</div>
