<div class="interviewPage">

    <div class="bs-header">
        <div class="row">
            <div class="col-md-1 col-sm-1" style="padding-top:5px">
                <a href="./" class="btn btn-transparent">
                    <i class="material-icons icons">home</i>
                </a>
            </div>
            <div class="col-md-10 col-sm-10" style="padding-top:10px">
                <h4>Nova zgradba FRI z umetniškim pridihom</h4>
            </div>
        </div>
    </div>


    <div class="col-md-12 col-sm-12" style="padding: 0">
        <div class="col-md-6 col-sm-6">
            <div class="col-md-6 col-sm-6 bback">
                <nav class="col-md-6 col-sm-6 bs-docs-sidebar">
                    <div class="col-md-6">
                        <ul id="sidebar" class="nav fixed indexContainer">
                            {{#each data.parts}}
                                <li class="qstion"><a href="#{{@key}}">{{this.title}}</a></li>
                            {{/each}}
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 wback">
            <div class="col-md-8 col-md-offset-2 col-xs-8 col-xs-offset-2 interviewContent">
                <br>
                <br>
                {{#each data.parts}}
                    <section  id="{{@key}}">
                        <h5>{{this.title}}</h5>
                        <br>
                        <br>
                        <p>{{{this.content}}}</p>
                    </section>
                {{/each}}
            </div>
        </div>
    </div>


</div>
